<header class="green big_padding">
    <div class="col-md-10 no_float center-block">
        <div class="col-md-6 no_padding inline_block">
            <%= image_tag "logo_wali.png", width:"100" %>
        </div>
        <h1><strong>Ofrece tus mejores productos digitales</strong></h1> 
        <div class="col-md-5 no_padding inline_block">Gera</div>
    </div>
</header>

<div>Hola no estas registrado</div>
<p><%=link_to "Inicia Sesion", new_user_session_path%></p>
<p><%=link_to "Crear Cuenta", new_user_session_path%></p>