<header class="green big_padding">
    
</header>

<div>Hola no estas registrado</div>
<p><%=link_to "Inicia Sesion", new_user_session_path%></p>
<p><%=link_to "Crear Cuenta", new_user_session_path%></p>