$green: #A3D87B;
$grey: #5A6576;
$other_grey: #E7ECEE;
$blue: #058cc5;
$red: #d2527f;
$light_blue:#3498db;
$yellow: #EEF9B6;
$orange: #FF9328;


/* Colores de Ecommerce */

.green{
	background-color: $green;
}
.green-text{
	color: $green;
}
.grey{
	background-color: $grey;
}
.grey_text{
	color: $grey;
}
.other_grey{
	background-color: $other_grey;
}
.other_grey_text{
	color: $other_grey;
}
.blue{
	background-color: $blue;
}
.blue_text{
	color: $blue;
}
.red{
	background-color: $red;
}
.red_text{
	color: $red;
}
.light_blue{
	background-color: $light_blue;
}
.light_blue_text{
	color: $light_blue;
}
.yellow{
	background-color: $yellow;
}
.yellow_text{
	color: $yellow;
}
.orange{
	background-color: $orange;
}
.orange_text{
	color: $orange;
}

/*Paddings*/

.big_padding{
    padding: 2em;
}

.no_padding{
    padding: 0;
}

/*Alineamiento*/

.no_float{
    float: none !important;
}

.inline_block{
    float: none !important;
    display: inline-block;
}