$green: #339282;
$grey: #5A6576;
$other_grey: #E7ECEE;
$blue: #1B9DF6;
$red: #d2527f;
$light_blue:#3498db;
$yellow: #EEF9B6;
$orange: #FF9328;

/* Imagen */

.img {

}

/* Texto */

.bold{
	font-weight: bold;
}

/* Colores de Ecommerce */

.white{
	background-color: white;
}
.white-text{
	color: white;
}

.black{
	background-color: black;
}
.black-text{
	color: black;
}

.green{
	background-color: $green;
}
.green-text{
	color: $green;
}
.grey{
	background-color: $grey;
}
.grey-text{
	color: $grey;
}
.other-grey{
	background-color: $other_grey;
}
.other-grey-text{
	color: $other_grey;
}
.blue{
	background-color: $blue;
}
.blue-text{
	color: $blue;
}
.red{
	background-color: $red;
}
.red-text{
	color: $red;
}
.light-blue{
	background-color: $light_blue;
}
.light-blue-text{
	color: $light_blue;
}
.yellow{
	background-color: $yellow;
}
.yellow-text{
	color: $yellow;
}
.orange{
	background-color: $orange;
}
.orange-text{
	color: $orange;
}

/*Paddings*/

.big-padding{
    padding: 2em;
}

.no-padding{
    padding: 0;
}

/*Margins*/

.top-space{
	margin-top: 1em;
}

.bottom-space{
	margin-bottom: 1em;
}

/*Alineamiento*/

.no-float{
    float: none !important;
}

.inline-block{
    float: none !important;
    display: inline-block;
}

/*Tamaño*/

.ultra-big{
    font-size: 5em;
}

.big{
	font-size: 3em;
}

.middle-text{
    font-size: 2.5em;
}

.normal{
	font-size: 1.2em;
}

.small{
	font-size: 12px;
}

.landing-form{
	border:none;
	outline:none;
	border-bottom: solid 1px #2f6936;
	font-size: 1.5em;
	color:#C8376C;
}